<h5 mat-dialog-title class="mat-subtitle-1">Guardar Ubicacion</h5>
<div mat-dialog-actions class=" p-t-0">
  <form [formGroup]="form" (ngSubmit)="submit()" style="width: auto;" class="col-12">
    <div class="row" NgIf="customers$ | async">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Clientes
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="0" formControlName="customerId">
                  <mat-option value="0">Seleccionar cliente</mat-option>
                  <mat-option *ngFor="let item of customers$ | async" [value]="item?.id">{{item?.name |
                    uppercase}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">#Empleado</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="employeeCode" placeholder="Escribe..." />
              </mat-form-field>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nombres</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="firstName" placeholder="Escribe..." />
              </mat-form-field>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Apellidos</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="lastName" placeholder="Escribe..." />
              </mat-form-field>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Licencia</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="license" placeholder="Escribe..." />
              </mat-form-field>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Numero de telefono</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="phoneNumber" placeholder="Escribe..." />
              </mat-form-field>
            </div>
          </div>
    
          <div class="col-md-12">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Descripccion
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <textarea formControlName="description" rows="2" matInput placeholder="Escribe una descripccion"></textarea>
              </mat-form-field>
            </div>
            <mat-checkbox color="primary" formControlName="isActive" class="m-b-20 m-l-10">Esta Activo?</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12 m-b-10">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Agregar foto</mat-label>
          </div>
          <div class="col-sm-12">
            <input (change)="onFileSelected($event)" #fileInput type="file" id="file">
          </div>
        </div>
        <div class="col-md-12">
          <img layout-fill src="{{ urlPhoto  }}" *ngIf="urlPhoto" style="height: 20rem; width: 60%;" alt="user" class="rounded m-t-8 m-b-10" />
        </div>      
      </div>

      <div class="col-md-12 m-t-5">
        <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>
        <button mat-flat-button color="primary" (click)="submit()" type="button">
          Guardar
        </button>
      </div>

    </div>
  </form>
</div>